<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>About Us</h3>
        <p>
          Specialized Contractors in the field of mechanical engineering
          construction with more than 30 years of experience in Fabrication and
          Erection of Steel structure, piping, Tank fabrication & various type
          of Engineering construction work.
        </p>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/clients">Clients</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <p>
          <i class="fas fa-map-marker-alt"></i> Behind TDO QRT - 3053 R, Bhachau
          - Kutch
        </p>
        <p>
          <i class="fas fa-building"></i> Office No. 4/B, First Floor,
          Greenpark, Plot No. 113, 114, Sector - 8, Gandhidham (Kutch) Gujarat -
          370201
        </p>
        <p><i class="fas fa-phone"></i> +919852732464</p>
        <p><i class="fas fa-envelope"></i> admin@theashapura.com</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Shree Ashapura Febro & Construction. All Rights Reserved.
    </p>
  </div>
</footer>
