<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>

    <section class="page-header">
        <div class="container">
            <h1>Our Esteemed Clients</h1>
            <p>We are proud to have served these leading organizations</p>
        </div>
    </section>

    <section class="clients-list-section">
        <div class="container">
            <h2>List of Our Clients</h2>
            <div class="client-logos">
                <div class="client-logo"><img src="/images/client1.png" alt="OPG"></div>
                <div class="client-logo"><img src="/images/client2.png" alt="Rucin"></div>
                <div class="client-logo"><img src="/images/client3.png" alt="Vopak"></div>
                <div class="client-logo"><img src="/images/client4.png" alt="JINDAL"></div>
                <div class="client-logo"><img src="/images/client5.png" alt="L&T ECC DIVISION"></div>
                <div class="client-logo"><img src="/images/client6.png" alt="SHREE RENUKA SUGAR"></div>
                <div class="client-logo"><img src="/images/client7.png" alt="INOX CVA"></div>
                <div class="client-logo"><img src="/images/client8.png" alt="KANDLA SEZ"></div>
                <div class="client-logo"><img src="/images/client9.png" alt="NUCLEAR POWER PLANT"></div>
                <div class="client-logo"><img src="/images/client10.png" alt="GAMMON INDIALTD"></div>
                <div class="client-logo"><img src="/images/client11.png" alt="CHIMEQUI INDIA LTD"></div>
                <div class="client-logo"><img src="/images/client12.png" alt="VARSANA"></div>
                <div class="client-logo"><img src="/images/client13.png" alt="RUCHISOYA INDUSTRIES LTD"></div>
                <div class="client-logo"><img src="/images/client14.png" alt="JINDAL SAW LTD"></div>
                <div class="client-logo"><img src="/images/client15.png" alt="NOBLE NATURAL RESOURCES"></div>
                <div class="client-logo"><img src="/images/client16.png" alt="L&T ECC"></div>
                <div class="client-logo"><img src="/images/client17.png" alt="GRASIM INDUSTRIES"></div>
                <div class="client-logo"><img src="/images/client18.png" alt="BUNGE INDIALTD"></div>
                <div class="client-logo"><img src="/images/client19.png" alt="LOUIES DREYFUS"></div>
                <div class="client-logo"><img src="/images/client20.png" alt="ROYAL VOPAK CO"></div>
                <div class="client-logo"><img src="/images/client21.png" alt="CRL TERMINALS PVT LTD"></div>
                <div class="client-logo"><img src="/images/client22.png" alt="OPAL refinery"></div>
                <div class="client-logo"><img src="/images/client23.png" alt="L&T construction"></div>
                <div class="client-logo"><img src="/images/client24.png" alt="Vedanta Hindustan Zinc"></div>
                <div class="client-logo"><img src="/images/client25.png" alt="ABG cement"></div>
            </div>
        </div>
    </section>

    <section class="testimonials-section">
        <div class="container">
            <h2>What Our Clients Say</h2>
            <div class="testimonials-slider">
                <div class="testimonial">
                    <p>"Shree Ashapura Febro & Construction has been our trusted partner for several projects. Their expertise in fabrication and erection is unmatched, and they always deliver on time with excellent quality."</p>
                    <div class="client-info">
                        <h4>L&T ECC Division</h4>
                    </div>
                </div>
                <div class="testimonial">
                    <p>"The team at Shree Ashapura demonstrated exceptional professionalism in executing our steel plant project. Their attention to safety and quality standards is commendable."</p>
                    <div class="client-info">
                        <h4>Jindal Saw Ltd.</h4>
                    </div>
                </div>
                <div class="testimonial">
                    <p>"We have worked with Shree Ashapura on multiple projects and they have consistently exceeded our expectations. Their technical team is highly skilled and knowledgeable."</p>
                    <div class="client-info">
                        <h4>Vopak</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
</body>
</html>